body{
    background:linear-gradient(to right top, 
    #d988ca, #cc9cdd, 
    #c1afe8, #bbbfee, 
    #becdee, #b6c9e5, 
    #b0c4dc, #aabfd3, 
    #8ea9c2, #7393b1, 
    #577ea1, #3a6991)
    fixed;
         
}

header{
    box-shadow: 0 4px 46px #00000040;
    background: radial-gradient(circle, rgba(255,255,255,1) 96%, rgba(255,54,30,0.8991246156665791) 100%);
    border-radius: 20px;
   
}

a{
    text-decoration: none;
}

 .current{
    color:#de4334 ;
   }


.btn{
    margin-right: 85px;
    display: flex;
}

.loh{
    margin-left: 20px;
}

.header-nav-item{ 
    justify-content: center;
    display: flex;
}

.header-list-btn{
    line-height: 1;
    color: #000;
    position: relative;
    display: flex;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    align-items: center;
    margin: 5px;
 cursor: pointer;
 text-decoration: none;
}


.header-list-btn:after {
	bottom: 5px;
	position: absolute;
	left: 0; 
	width: 0;
	height: 3px;
	background-color: #de4334; 
	content: "";
	transition: width 0.3s ease-out; 
}

.header-list-btn:hover:after,
.header-list-btn:focus:after {
	width: 100%; 
}



.header-list-btn+.header-list-btn{
 margin-left: 30px;


}



.Info{
    padding-top: 94px;
    justify-content: center;
    display: flex;
}
.banner{
    box-shadow: 0 4px 46px #00000040;
    width: 1280px;
    padding: 15px;
    align-items: center;
    border-radius: 10px;
 font-size: 16px;
    font-family: "Roboto", sans-serif;
    justify-content: center;
    color: #000;
    background: rgba(255,255,255,1);
    margin-bottom: 30px;
}

.img-sec{
    align-items: center;
}
.chara-hero{
    margin-left: 50px;
    margin-right: 50px;
    }
    
    .rarity-5 {
        background-image: url(/chara-img/5.jpg)!important;
    }
    .rarity-4 {
        background-image: url(/chara-img/4.jpg)!important;
    }
    
    .chara-list{
    
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        border-radius: 4px;
        padding: 10px;
    }
    .chara-list .chara-port {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        text-decoration: none;
    }
    .chara-list .chara-port .chara-icon {
        width: 70px;
        height: 70px;
        border-radius: 4px;
        transition: transform .3s,-webkit-transform .3s;
    }
    .rarity-4, .rarity-5 {
        background-size: contain!important;
        background-position: 50%!important;
    }
    .chara-list .chara-port .chara-type {
        right: 5px;
        padding: 3px;
    }
    .chara-list .chara-port .chara-type, .chara-list .chara-port .chara-weap {
        position: absolute;
        top: 10px;
        width: 24px;
        height: 24px;
        background: #7393b1;
        border-radius: 100px;
        transition: transform .3s;
    }
    .chara-list .chara-port .chara-name, .chara-list .chara-port .chara-title {
        width: 100%;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: color .3s;
        line-height: 1.5em;
        
    }
    .chara-list .chara-port .chara-name {
        font-family: "Roboto", sans-serif; 
       color: #4d5669;
        margin: 10px 0 0;
    }
    
    .filters {
        margin-bottom: 20px;
        width: 100%;
        background:  rgba(255,255,255,.80);
        padding: 5px;
        border-radius: 4px;
    }
    .filters .filters-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .filters .filters-list .filters-sup {
        width: 1px;
        height: 30px;
        background: #4d5fc4;
        margin: 0 20px;
    }
    .filters .filters-list .filters-item {
        max-width: 50px;
        max-height: 40px;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;
        transition: all .3s;
        font-weight: 500;
        font-size: 15px;
    }
    .chara-searc .fil-icon{
        justify-content: center;
        width: 40px;
        height: 40px;
        margin-right: 5px;
        background-size: 16px;
        background-repeat: no-repeat;
        background-position: 50%;
        
    }
    .chara-searc .sear-input{
        flex-grow: 1;
        height: 35px;
        color: #4d5669;
        font-size: 15px;
        font-weight: 400;
        outline: none;
        background: transparent;
    }
   .sear-input{
        border-radius: 20px;
        border: 1px solid #000;
        padding-left: 15px;
    }
    .chara-searc {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        min-width: 300px;
        line-height: 1em;
        min-height: 40px;
        margin: 0 0 0 20px;
        border-radius: 4px;
        background:  rgba(255,255,255,.80);
    }
    .chara-searc .fil-icon {
        display: flex;
        align-items: center;
    }
    .content-main{
        display: flex;
        justify-content: space-between;
    }
    
    
    .chara-list a.hide{
        display: none;
    }
    
    .chara-port:hover{
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }
   
    .dead{
        text-decoration: line-through 2px;
        text-decoration-color: #de4334  ;
    }
